services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    environment:
      CHOKIDAR_USEPOLLING: "true"
    volumes:
      - /app/node_modules
      - ./frontend:/app
    command: ["npm", "run", "dev", "--", "--host"]
    ports:
      - "5173:5173"

volumes:
  db_data: